@font-face {
  font-family: "DMSans";
  src: url("DmSans/DMSans-Medium.woff2") format("woff2"),
    url("DmSans/DMSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("DmSans/DMSans-Bold.woff2") format("woff2"),
    url("DmSans/DMSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("DmSans/DMSans-Italic.woff2") format("woff2"),
    url("DmSans/DMSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("DmSans/DMSans-BoldItalic.woff2") format("woff2"),
    url("DmSans/DMSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("DmSans/DMSans-MediumItalic.woff2") format("woff2"),
    url("DmSans/DMSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("DmSans/DMSans-Regular.woff2") format("woff2"),
    url("DmSans/DMSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prata";
  src: url("Prata/Prata-Regular.woff2") format("woff2"),
    url("Prata/Prata-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
